<!-- <header class="navbar" *ngIf="!isLoginPage()">
    <div class="logo">
        <a routerLink="/">🍚 Rice Store</a>
    </div>
    <nav>
        <a routerLink="/">Home</a>
        <a routerLink="/cart">Cart ({{ cartCount }})</a>
    </nav>
    <a *ngIf="isAdmin$ | async" routerLink="/admin">Admin Panel</a>  
    <button *ngIf="(authService.user$ | async) as user" (click)="logout()">
        Logout ({{ user.email }})
      </button>
      
      <a *ngIf="!(authService.user$ | async)" routerLink="/auth">Login</a>
      <button *ngIf="!(authService.user$ | async)" (click)="navigateToLogin()">Login</button>

</header> -->

<header class="navbar" *ngIf="!isLoginPage()">
    <div class="logo">
        <a routerLink="/">🍚 Rice Store</a>
    </div>
    <nav>
        <button (click)="navigateToHome()">Home</button>
        
        <button *ngIf="authService.user$ | async" routerLink="/order-history" (click)="navigateToOrderHistory()" routerLinkActive="active">Order History</button>
    </nav>
    <button *ngIf="isAdmin$ | async" (click)="adminProd()">Add productd by Admin</button> 
    <button *ngIf="isAdmin$ | async" (click)="gotoadmin()">Admin Panel</button>  
    <button (click)="cart()">Cart ({{ cartCount }})</button>
    <button *ngIf="(authService.user$ | async) as user" (click)="logout()">
        Logout ({{ user.email }})
    </button>
    
    <button *ngIf="!(authService.user$ | async)" (click)="navigateToLogin()">Login</button>
</header>
