<div class="container mt-4">
  <h2 class="mb-4 text-primary fw-bold">Admin Dashboard</h2>
  <h3 class="mb-3">Orders List</h3>

  <div class="table-responsive">
    <table class="table table-bordered table-striped text-center align-middle">
      <thead class="table-dark">
        <tr>
          <th>Order ID</th>
          <th>User Email</th>
          <th>Items</th>
          <th>Mobile Number</th>
          <th>Total Price</th>
          <th>Status</th>
          <th>Address</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.id }}</td>
          <td>{{ order.userEmail }}</td>
          <td>
            <ul class="list-unstyled mb-0">
              <li *ngFor="let item of order.items">{{ item.name }} - ₹{{ item.price }}x {{ item.quantity }}</li>
            </ul>
          </td>
          <td>{{ order.mobile || 'N/A' }}</td>
          <td><strong>₹{{ order.totalAmount }}</strong></td>
          <td>
            <select class="form-select"
              [(ngModel)]="order.status"  
              (change)="updateOrderStatus(order.id, order.status)">
              <option value="Pending">Pending</option>
              <option value="Shipped">Shipped</option>
              <option value="Delivered">Delivered</option>
              <option value="Cancelled">Cancelled</option>
            </select>
          </td>
          <!-- <td> {{order.paymentStatus || 'N/A'}}</td> -->
          <td>
            <strong>Flat No:</strong> {{ order.deliveryAddress?.flatNo }}<br>
            <strong>Landmark:</strong> {{ order.deliveryAddress?.landmark }}<br>
            <strong>Area:</strong> {{ order.deliveryAddress?.area }}<br>
            <strong>Mobile:</strong> {{ order.userMobile }}
          </td>
          <td> {{ order.createdAt?.seconds ? (order.createdAt.seconds * 1000 | date:'MMM d, y h:mm a') : 'N/A' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
