.table {
    margin-top: 20px;
    font-size: 16px;
}

th, td {
    vertical-align: middle !important;
}

h2 {
    font-weight: bold;
}
.snackbar-success {
    background-color: green;
    color: white;
    font-size: 16px;
  }